* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black !important;
  background-color: #fff !important;
  transition: 0.5s;
}
.dark-theme {
  background-color: #3b3b4f !important;
  color: #fff !important;
  transition: 0.5s;
  .section__block {
    background-color: #3b3b4f !important;
  }
  .section__block:hover {
    background-color: #000 !important;
    border: 3px solid #fff !important;
  }
  .main__link {
    color: #fff !important;
  }
  .main__button {
    color: #fff !important;
  }
  .footer-info {
    background-color: #333345 !important;
    a {
      color: #fff;
    }
  }
  .accardionles-item {
    background-color: #3b3b4f;
  }
  .accardionles-header {
    background-color: #3b3b4f;
    color: #fff;
  }
  .accardionles-body {
    color: #fff;
    background-color: #3b3b4f;
  }
  .button__video {
    background-color: #1c1c25;
    color: #fff;
  }
  .button__video:hover {
    background-color: #35355a;
    box-shadow: #fff 0px 7px 29px 0px;
  }
  .block1 {
    border-color: #133547;
    font-size: 18px;
    width: 60vw;

    margin: 36px 0 25px 0;
    padding: 15px;

    overflow-wrap: break-word;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    border: 1px solid transparent;
    padding: 15px;
    margin-bottom: 25px;
  }
  .button_lesson2 {
    border: 3px solid #2d6786;
    background-color: #d9edf7;
    color: #31708f;
    font-size: 18px;
    width: 200px;
    height: 45px;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .button_lesson {
    color: #31708f;
    width: 200px;
    height: 45px;
    font-size: 18px;
    background-color: #d9edf7;
    cursor: pointer;
    margin-top: 20px;
    border: 3px solid #2d6786;
    margin-bottom: 35px;
  }
  .block2__text {
    border-bottom: 1px solid #6fa5c2;
    padding-bottom: 30px;
  }
  .block2 {
    width: 60vw !important;
    /* height: 134px; */
    color: #31708f;
    background: linear-gradient(
        -10deg,
        #d9edf7 35%,
        rgba(237, 202, 216, 0) 75%,
        #ffd7e0
      ),
      radial-gradient(circle, #ffcae1 0, #daeafc 100%);
    padding: 1rem;
  }
}
// hsl(244, 23%, 66%)
img {
  width: 100%;
  height: 100%;
}

// ! стили для скролла
/* Общие стили для всех браузеров */
::-webkit-scrollbar {
  width: 15px; /* Ширина полосы прокрутки */
}

::-webkit-scrollbar-thumb {
  background-color: #1c1c25;
}

::-webkit-scrollbar-track {
  background-color: rgb(207, 205, 205); /* Цвет фона полосы прокрутки */
}
